*{
    padding: 0%;
    margin: 0;
}
html,body{
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
    overflow-x: hidden;
}
/* AlgoEd Homepage _ Design */
#AlgoEd_Homepage{
    height: 100vh;
    width: 100vw;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.navbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.navoptionbox{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.navoptions{
    margin-right: 2rem;
    font-size: 14px;
}
.loginbutton{
    border: 1px solid #3247C6;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: transparent;
    border-radius: 5px;
}
.logintext{
    color: #3247C6;
    font-size: 12px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.registerbutton{
    background-color: #E54F6D;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    border-radius: 2px;
    margin-left: 1rem;
    border-radius: 5px;
}
.Registertext{
    color: white;
    font-size: 12px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.centerbluebox{
    height: 70%;
    width: 80%;
    background-color: #3247C6;
    margin-top: 4rem;
    border-radius: 2rem;
    margin-left: 9rem;
    box-sizing: border-box;
    padding:4rem;
    position: relative;
}
.leftblue{
    width: 33%;
    margin-left: 2rem;
}
.homeheadline{
    font-size: 43px;
    color: #FBFBFB;
    font-weight: 500;
    margin-bottom: 2rem;
}
.homepara{
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin-bottom: 3rem;
}
.signup{
    border: 1px solid white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: transparent;
    border-radius: 5px;
}
.forschool{
     background-color: #E54F6D;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    border-radius: 2px;
    margin-left: 1rem;
    border-radius: 5px;
}
.signuptext{
    font-size: 12px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}
.bgbottom{
    position: absolute;
    bottom: -1rem;
    right: 4rem;
}
.bgtop{
    position: absolute;
     bottom: -3rem;
    right: 2rem;
}
@media (max-width:480px){
#AlgoEd_Homepage{
    height: 50vh;
    width: 100vw;

}  
.centerbluebox{
    height: 35%;
} 
.leftblue{
    width: 20%;
} 
}

/* section2 start here */
#section2{
    height: 55vh;
    width: 100vw;
    background-image: url(assets/sec2bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    background-color: rgba(211, 211, 211, 0.322);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.greyleftdiv{
    width: 37%;
    margin-right: 3rem;
}
.WhyTechEd{
    color: #3247C6;
    font-size: 12px;
    font-weight: 600;
    /* margin-bottom: 2rem; */
}
.greyboxheadline{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.greypara{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.number{
    color: #3247C6;
    font-size: 32px;
    margin-bottom: 1rem;
}
.numberbox{
   margin-top: 2rem;
}
.parentdiv{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3rem;
}
.text{
 font-size: 16px;
 color: black;
 font-weight: 400;
 /* margin-top: 1rem; */
}
.imgbgbox{
    position: relative;
    /* background-color: black; */
    margin-right: 5rem;
}
.imgbackground{
    object-fit: cover;
    /* position: relative; */
}
.imgbg2{
    position: absolute;
    object-fit: cover;
    bottom: -1rem;
    right: -2rem;
}